# list and default functions

In [1]:

lst = ["niki",10,23.5,3000,[1,2]]

lst

['niki', 10, 23.5, 3000, [1, 2]]

In [2]:
#func. of list

lst.append("upgrade")

In [3]:
lst

['niki', 10, 23.5, 3000, [1, 2], 'upgrade']

In [5]:
lst.index(3000)

3

In [9]:
lst.pop()

'upgrade'

In [10]:
lst

['niki', 10, 23.5, 3000, [1, 2]]

In [11]:
lst.reverse()

In [12]:
lst

[[1, 2], 3000, 23.5, 10, 'niki']

In [14]:
lst.count("niki")

1

In [17]:
#insert(index, elem) 
lst.insert(2,"raksh")

In [18]:
lst

[[1, 2], 3000, 'raksh', 23.5, 10, 'niki']

In [22]:
list = [10,9,11,20]

In [23]:
list.sort()

In [24]:
list

[9, 10, 11, 20]

# Dictionary and its default functions

In [26]:
dict = {"name":"niki","age":"21","phone":123456,"city":"bangalore"}

In [27]:
dict

{'name': 'niki', 'age': '21', 'phone': 123456, 'city': 'bangalore'}

In [41]:
dict["col"]="skit"

In [42]:
dict

{'name': 'niki',
 'age': '21',
 'phone': 123456,
 'city': 'bangalore',
 'col': 'skit'}

In [35]:
dict.items()

dict_items([('name', 'niki'), ('age', '21'), ('phone', 123456), ('city', 'bangalore')])

In [37]:
dict.keys()

dict_keys(['name', 'age', 'phone', 'city'])

In [38]:
dict.values()

dict_values(['niki', '21', 123456, 'bangalore'])

In [44]:
dict.pop("name")

'niki'

In [45]:
dict

{'age': '21', 'phone': 123456, 'city': 'bangalore', 'col': 'skit'}

In [46]:
dict.popitem()

('col', 'skit')

In [47]:
dict

{'age': '21', 'phone': 123456, 'city': 'bangalore'}

In [49]:
dict.get("age")

'21'

# Tuple and its methods

In [51]:
tup = ("@",6,"niki")

In [52]:
tup

('@', 6, 'niki')

In [53]:
tup.count("@")

1

In [55]:
tup.index(6)

1

In [56]:
len(tup)

3

In [60]:
tup1 = (45,46,47)

In [61]:
max(tup1)

47

In [62]:
min(tup1)

45

# sets and its functions

In [63]:
st = {"niki","letsupgrade",1,2,3,4,4,5,6,5,5}

In [64]:
st

{1, 2, 3, 4, 5, 6, 'letsupgrade', 'niki'}

In [67]:
st1 = {"niki",1}

In [68]:
st1.issubset(st)

True

In [69]:
st.pop()

1

In [71]:
st.intersection(st1)

{'niki'}

In [72]:
st.difference(st1)

{2, 3, 4, 5, 6, 'letsupgrade'}

In [73]:
st.add("rakshi")

In [74]:
st

{2, 3, 4, 5, 6, 'letsupgrade', 'niki', 'rakshi'}

# strings and its methods

In [75]:
string = "hello,good morning"

In [80]:
str = "How are you?"

In [81]:
string.islower()

True

In [83]:
str.isupper()

False

In [87]:
string.capitalize()

'Hello,good morning'

In [88]:
len(str)

12

In [89]:
max(str)

'y'

In [95]:
string.isdigit()

False